.ordersContainer {
    width: 80% !important;
    box-shadow: 2px 2px 5px gray;
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: mintcream;
    color: mediumblue;
}

.title {
    margin: 0% 0% 8% 40%;
}

.titlesRow {
    padding: 1% 0%;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 0.1px 0.1px 2px gray;
    margin-bottom: 10px;
}
