.spinner {
    margin-left: 48%;
    margin-top: 10%;
}

.titleRow {
    color: dimgrey;
    margin-top: 7%;
}

.container {
    width: 80%;
    margin-top: 8%;
}

@media (max-width: 760px){
    .columnEmpty{
        display: none;
    }
}

.tableHeading {
    color: blue;
}