.card {
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px dimgray;
}

.cardImage {
    height: 320px;
}

.productPrice {
    display: inline;
    color: deeppink;
    margin-right: 25%;
}

@media (max-width: 750px){
    .productPrice{
        margin-right: 20%;
        margin-bottom: 5%;
    }
}
